@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    font-weight: 300;
    padding: 1em;
}

h2 {
    font-weight: 400;
    margin: 1em 0 .5em 0;
}

/* utility classes */

.flex {
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right {
    text-align: right;
}

.grid {
    display: grid;

    column-gap: 0.5em;
}

.search-form,
.current,
.daily {
    max-width: 470px;
}

/* search form style */

.search-form {
    flex-direction: column;
}

/* current weather panel style */

.current {
    background-color: rgb(210, 234, 255);
    border-radius: 5px;
    padding: .5em;
}

.current-temp,
.current-icon {
    font-size: 2.7rem;
    font-weight: 500;
    padding-bottom: .2em;

}

.location {
    font-size: 1.8rem;
    font-weight: 400;
}

.condition {
    font-size: 1.5rem;
    font-weight: 400;
}

.date-time,
.wind-humid {
    padding-top: 1.2em;
}

/* 3 hour forecast style */

.hourly {
    border-radius: 5px;
    background-color: rgb(221, 238, 253);
    overflow: scroll;
    grid-template-columns: repeat(7, 1fr);
}

.hourly-forecast,
.daily-forecast {
    text-align: center;
    padding: .3em 0;
}

.hourly-forecast+.hourly-forecast,
.daily-forecast+.daily-forecast {
    border-left: 1px solid rgb(146, 146, 146);
}

.hourly-forecast>*,
.daily-forecast>* {
    padding: .6em .4em;
}

.hourly-temp-high,
.daily-temp-high {
    font-weight: 600;
}

.hourly-temp-low,
.daily-temp-low {
    font-weight: 400;
}

/* 5 day forecast style */

.daily {
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(218, 238, 255);
    border-radius: 5px;
}